@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #fbf7f0;
  color: #3a342e;
}

* {
  -webkit-tap-highlight-color: transparent;
}

input,
select,
textarea {
  font-size: 16px; /* iOS 자동 확대 방지 */
}
